<div class="container">
    <div class="row">
      <div class="col-md-6" (click)="navigateToLearning()">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Learning</h5>
            <p class="card-text">Click here to learn more.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6" (click)="navigateToCode()">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Code</h5>
            <p class="card-text">Click here to see code samples.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
